<!DOCTYPE html>
<html class = "no-js">
  <head>
    <title> Empréstimos | Gerenciamento de Patrimônios </title>
		<% include partials/head %>

    <script>
		  $(document).ready(function() {
		    $('.opcoes').addClass("active");

        $('#empresEquip').click(function() {
          var ids = [], cont = 0;
          $(".icheck-input").each( function() {
            if($(this).hasClass("checked")) {
              ids[cont] = $(this).find('input').attr('name');
              cont++;
            }
          });
          $(location).attr('href', '/emprestimos/' + ids);
        });

        <% if (scriptEmp.length > 0) { %>
          $('<%= scriptEmp %>').click();
        <% } %>
		  });
		</script>
  </head>

  <body>
    <a href = "#styledModal" style = "display: none" id = "emp" data-toggle = "modal"></a> <!-- Link para Emprestar Equipamentos -->
    <% include partials/headerDefault %>

    <div class = "container">
      <div class = "content">
          <div class = "content-container">

            <div class = "content-header">
              <h2 class = "content-header-title"> EMPRÉSTIMO DE EQUIPAMENTOS </h2>
              <ol class = "breadcrumb">
                <li><a href = "/"> Home </a></li>
                <li><a href = "javascript:;"> Opções Extras </a></li>
                <li class = "active"> Empréstimos </li>
              </ol>
            </div>

            <div class = "row">

              <% if (message.length > 0) { %>
                <div class = "alert alert-<%= message_status %> col-sm-12"> <%= message %> </div>
              <% } %>

              <div class = "col-md-12">
                <br><br>
                <div class = "portlet portlet-plain">

                  <div class = "portlet-header">
                    <h3>
                      <i class = "fa fa-table"></i>
                      Tabela de Equipamentos
                    </h3>
                    <ul class = "portlet-tools pull-right">
                      <li>
                        <a id = "empresEquip" data-toggle = "modal" href = "" class = "btn btn-sm btn-icon">
                          Realizar Empréstimo&nbsp;&nbsp; <i class = "fa fa-arrow-right"></i>
                        </a>
                      </li>
                    </ul>
                  </div> <!-- /.portlet-header -->

                  <div class = "portlet-content">
                    <div class = "table-responsive">

                      <table id = "tabelaEquip" class = "table table-striped table-bordered table-hover table-checkable" data-provide = "datatable"
                        data-info = "false" data-search = "false" data-paginate = "true">

                        <thead>
                          <tr>
                            <th class = "checkbox-column"></th>
                            <th data-filterable = "true" data-sortable = "true"> ID </th>
                            <th data-filterable = "true" data-sortable = "true"> Origem </th>
                            <th data-filterable = "true" data-sortable = "true" style = "width: 150px;"> Data Compra </th>
                            <th data-filterable = "true" data-sortable = "true"> Localização Atual </th>
                            <th data-filterable = "true" data-sortable = "true" style = "width: 90px;"> Status </th>
                            <th data-filterable = "true" data-sortable = "true"> Descrição </th>
                          </tr>
                        </thead>

                        <tbody>
                          <% dataEquipamento.forEach(function(equipamento) { %>
                            <tr>
                              <td class = 'checkbox-column'><input name = "<%= equipamento.identificador %>" type = 'checkbox' class = 'icheck-input'/></td>
                              <td> <%= equipamento.identificador %> </td>
                              <td> <%= equipamento.campus_origem %> </td>
                              <td> <%= equipamento.data_compra %> </td>
                              <% if (equipamento.status == 0) { %>
                                <td> <%= equipamento.loc_sala %> </td>
                                <td class = "text-center"><span class = "label label-success"> Disponível </span></td>
                              <% } else { %>
                                <td> <%= equipamento.loc_campus %> </td>
                                <td class = "text-center"><span class = "label label-tertiary"> Emprestado </span></td>
                              <% } %>
                              <td> <%= equipamento.descricao %> </td>
                            </tr>
                          <% }); %>
                        </tbody>

                      </table>

                    </div> <!-- /.table-responsive -->
                  </div> <!-- /.portlet-content -->

                </div>
              </div>

            </div>

          </div> <!-- /.content-container -->
      </div> <!-- /.content -->
    </div> <!-- /.container -->

    <footer class = "footer"></footer>

    <div id = "styledModal" class = "modal modal-styled fade">
      <div class = "modal-dialog">
        <div class = "modal-content">

          <div class = "modal-header">
            <button type = "button" class = "close" data-dismiss = "modal" aria-hidden = "true"> &times; </button>
            <h3 class = "modal-title"> EMPRÉSTIMO DE EQUIPAMENTOS </h3>
          </div>

          <form action = '/emprestimos' method = "POST">
            <div class = "modal-body">
              <p> Selecione a sala para qual os equipamentos serão enviados... </p>
              <div class = "table-responsive">

                <table id = "resultado" class = "table table-striped table-bordered table-hover table-checkable">
                  <tbody>
                    <% if(dataEscolhidos.length > 0) { %>
                      <% var ids = [], campus = [], cont = 0; %>
                      <% dataEscolhidos.forEach(function(equipamento) { %>
                        <% ids[cont] = equipamento.identificador; %>
                        <% campus[cont] = equipamento.loc_campus; %>
                        <% cont++; %>
                        <tr>
                          <td> <span class = "ui-tooltip" data-toggle = "tooltip" data-placement = "top" title = "ID"> <%= equipamento.identificador %> </span> </td>
                          <td> <span class = "ui-tooltip" data-toggle = "tooltip" data-placement = "top" title = "Câmpus de Origem"> <%= equipamento.campus_origem %> </span> </td>
                          <td> <span class = "ui-tooltip" data-toggle = "tooltip" data-placement = "top" title = "Data de Compra"> <%= equipamento.data_compra %> </span> </td>
                          <% if(equipamento.status == 0) { %>
                            <td> <span class = "ui-tooltip" data-toggle = "tooltip" data-placement = "top" title = "Sala Atual"> <%= equipamento.loc_sala %> </span> </td>
                            <td class = "text-center"> <span class = "label label-success ui-tooltip" data-toggle = "tooltip" data-placement = "top" title = "Status"> Disponível </span> </td>
                          <% } else { %>
                            <td> <span class = "ui-tooltip" data-toggle = "tooltip" data-placement = "top" title = "Câmpus Atual"> <%= equipamento.loc_campus %> </span> </td>
                            <td class = "text-center"> <span class = "label label-tertiary ui-tooltip" data-toggle = "tooltip" data-placement = "top" title = "Status"> Emprestado </span> </td>
                          <% } %>
                          <td> <span class = "ui-tooltip" data-toggle = "tooltip" data-placement = "top" title = "Descrição"> <%= equipamento.descricao %> </span> </td>
                        </tr>
                      <% }); %>
                    <% } %>
                  </tbody>
                </table>

                <input name = 'ids' style = 'display: none' value = '<%= ids %>'>
                <input name = 'campus' style = 'display: none' value = '<%= campus %>'>
                <hr>

                <div class = "form-group">
                  <label class = "col-md-3"> Novo Câmpus: </label>

                  <div class = "col-md-7">
                    <select name = "localizacao" id = "s2_basic" class = "form-control">
                      <optgroup label = "Câmpus - UTFPR">
                        <option value = "Campo Mourão"> Campo Mourão </option>
                        <option value = "Apucarana"> Apucarana </option>
                        <option value = "Cornélio Procópio"> Cornélio Procópio </option>
                        <option value = "Curitiba"> Curitiba </option>
                        <option value = "Dois Vizinhos"> Dois Vizinhos </option>
                        <option value = "Francisco Beltrão"> Francisco Beltrão </option>
                        <option value = "Guarapuava"> Guarapuava </option>
                        <option value = "Londrina"> Londrina </option>
                        <option value = "Medianeira"> Medianeira </option>
                        <option value = "Pato Branco"> Pato Branco </option>
                        <option value = "Ponta Grossa"> Ponta Grossa </option>
                        <option value = "Santa Helena"> Santa Helena </option>
                        <option value = "Toledo"> Toledo </option>
                      </optgroup>
                    </select>
                  </div>
                  <br>
                </div> <!-- /.form-group -->

              </div> <!-- /.table-responsive -->
            </div>

            <div class = "modal-footer">
              <button type = "button" class = "btn btn-tertiary" data-dismiss = "modal"> CANCELAR </button>
              <button type = "submit" class = "btn btn-primary"> EMPRESTAR </button>
            </div>
          </form>

        </div><!-- /.modal-content -->
      </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->
  </body>
</html>
