<!DOCTYPE html>
<html class = "no-js">
  <head>
    <title> Histórico | Gerenciamento de Patrimônios </title>
		<% include partials/head %>

    <script>
		  $(document).ready(function() {
		    $('.opcoes').addClass("active");
        $('#s2_basic').change(function() {
          $(location).attr('href', '/historico/' + $('#s2_basic').val());
        });
		  });
		</script>
  </head>

  <body>
    <% include partials/headerDefault %>

		<div class = "container">
	    <div class = "content">
	      <div class = "content-container">

	        <div class = "content-header">
	          <h2 class = "content-header-title"> HISTÓRICO DE LOCALIZAÇÕES DE EQUIPAMENTOS </h2>
	          <ol class = "breadcrumb">
              <li><a href = "/"> Home </a></li>
              <li><a href = "javascript:;"> Opções Extras </a></li>
              <li><a href = "javascript:;"> Relatórios </a></li>
              <li class = "active"> Histórico </li>
            </ol>
	        </div>

          <div class = "col-md-12">
            <div id = "selectEquip" class = "form-group">
              <label style = "font-size: 20px;"> Selecione o Equipamento... </label>

              <select id = "s2_basic" class = "form-control">
                <optgroup label = "ID &nbsp;- &nbsp; Origem &nbsp;- &nbsp; Data Compra &nbsp;- &nbsp; Status &nbsp;- &nbsp; Descrição">
                  <option value = ""> -- </option>
                  <% dataEquipamento.forEach(function(equipamento) { %>
                    <option value = "<%= equipamento.identificador %>">
                      <%= equipamento.identificador %> &nbsp;-&nbsp;
                      <%= equipamento.campus_origem %> &nbsp;-&nbsp;
                      <%= equipamento.data_compra %> &nbsp;-&nbsp;
                      <% if(equipamento.status == 0) { %> Disponível <% } else { %> Emprestado <% } %> &nbsp;-&nbsp;
                      <%= equipamento.descricao %>
                    </option>
                  <% }); %>
                </optgroup>
              </select>
            </div> <!-- /.form-group -->
            <br><br>
          </div>

          <div class = "portlet portlet-plain">
            <% if(dataMovimento.length > 0) { %>
              <div class = "portlet-header">
                <h3>
                  <i class = "fa fa-clock-o"></i>
                  Histórico de Movimentos
                </h3>
              </div> <!-- /.portlet-header -->

  		        <div class = "portlet-content">
  		          <div class = "table-responsive">
                  <table class = "table table-striped table-bordered table-hover table-checkable" data-provide = "datatable"
                    data-display-rows = "10" data-info = "false" data-search = "true" data-length-change = "true" data-paginate = "true">

                    <thead>
                      <tr>
                        <th data-filterable = "false" data-sortable = "false"> Equipamento </th>
                        <th data-filterable = "true" data-sortable = "true"> Data Mov. </th>
                        <th data-filterable = "true" data-sortable = "true" style = "width: 150px;"> Nova Localização </th>
                        <th data-filterable = "true" data-sortable = "true"> Usuário </th>
                        <th data-filterable = "true" data-sortable = "true" style = "width: 100px;"> Tipo </th>
                      </tr>
                    </thead>

                    <tbody>
                      <% dataMovimento.forEach(function(movimento) { %>
                        <tr>
      										<td><span class = "ui-tooltip" data-toggle = "tooltip" data-placement = "rigth" title = "Mouse"> <%= movimento.equipamento %> </span></td>
                          <td> <%= movimento.data %> </td>
                          <% if(movimento.sala == null) { %>
                            <td> <%= movimento.campus %> </td>
        										<td> <%= movimento.nome %> </td>
        										<td class = "text-center"><span class = "label label-warning"> Empréstimo </span></td>
                          <% } else { %>
                            <td> <%= movimento.sala %> </td>
        										<td> <%= movimento.nome %> </td>
        										<td class = "text-center"><span class = "label label-secondary"> Movimentação </span></td>
                          <% } %>
      									</tr>
                      <% }); %>
                    </tbody>

                  </table>
  		          </div>
  		        </div>
            <% } %>
          </div>

        </div> <!-- /.content-container -->
      </div> <!-- /.content -->
    </div> <!-- /.container -->
  </body>
</html>
