<!DOCTYPE html>
<html class = "no-js">
	<head>
    <title> Termos | Dicionário Terminológico </title>
		<% include partials/head %>

		<script>
		  $(document).ready(function() {
		    $('.gerenciamento').addClass("active");
        <% if (scriptEdit.length > 0) { %>
					$('<%= scriptEdit %>').click();
				<% } %>
		  });
		</script>
  </head>

  <body>
    <a href = "#exibicaoTermo" style = "display: none" id = "exibTermo" data-toggle = "modal"></a>
    <a href = "#edicaoTermo" style = "display: none" id = "editTermo" data-toggle = "modal"></a>
    <a href = "#remocaoTermo" style = "display: none" id = "removeTermo" data-toggle = "modal"></a>
		<% include partials/headerDefault %>

    <div class = "container">
      <div class = "content">
        <div class = "content-container">

          <div class = "content-header">
            <h2 class = "content-header-title"> GERENCIAMENTO DE TERMOS </h2>
            <ol class = "breadcrumb">
              <li><a href = "/"> Home </a></li>
              <li><a href = "javascript:;"> Gerenciamento </a></li>
              <li class = "active"> Termos </li>
            </ol>
          </div>

          <div class = "row">
            <div class = "col-md-12">
              <form action = "/termo/pesquisar" method = "POST" class = "form">
                <div class = "form-group">

                  <div class = "input-group">
                    <input value = "<%= pesquisaTexto %>" name = "pesquisa-texto" type = "text" class = "form-control input-lg" placeholder = "Digite o nome do termo que procura.">

                    <span class = "input-group-btn">
                      <button type = "submit" class = "btn btn-primary btn-lg" type = "button"><i class = "fa fa-search"></i> &nbsp; Pesquisar </button>
                    </span>
                  </div>

                </div>
              </form>
              <br><br>

              <% if (message.length > 0) { %>
  							<div class = "alert alert-<%= message_status %> col-sm-12"> <%= message %> </div>
  						<% } %>
              <div class = "col-md-8">
                <h3 class = "heading"> Categorias </h3>
                <br>
              </div>

              <div class = "col-md-4 col-sidebar-right">
                <a href = "#cadastroTermo" data-toggle = "modal" class = "btn btn-secondary btn-jumbo btn-block"> Cadastrar Termo </a>
              </div>
            </div>

            <div class = "col-md-12">
              <div class = "row">

                <% dataCategorias.forEach(function(categoria) { %>
                  <div class = "col-md-4 col-sm-4">
                    <h4>
                      &nbsp; <%= categoria.pertence %>
                      &nbsp; <small> (<%= categoria.qtd %>) </small>
                    </h4>

                    <ul class = "icons-list support-list">
                      <% dataTermos.forEach(function(termo) { %>
                        <% if(termo.pertence == categoria.pertence) { %>
                          <li>
                            <i class = "icon-li fa fa-angle-right"></i>
                            <a href = "/termo/exibir/<%= termo.nome %>" data-toggle = "modal">
                              <%= termo.nome %>
                            </a>
                          </li>
                        <% } %>
                      <% }); %>
                    </ul>
                  </div>
                <% }); %>

              </div>
            </div>
          </div>

        </div>
      </div>
    </div>

    <div id = "exibicaoTermo" class = "modal fade">
      <div class = "modal-dialog">
        <div class = "modal-content">

          <% if(dataTermo.length) dataTermo.forEach(function(termo) { %>
            <div class = "modal-header">
      			  <button type = "button" class = "close" data-dismiss = "modal" aria-hidden = "true"> &times; </button>
      			  <h3 class = "modal-title">
                <%= termo.nome %>
                <small><i> <%= termo.rg %> </i></small>
              </h3>
            </div>

            <div class = "modal-body">

              <% if(termo.sigla != '') { %>
                <div class = "row">
                  <div class = "form-group">
    								<div class = "col-md-3 col-md-push-1"> Sigla </div>

    								<label class = "col-md-7">
                      <%= termo.sigla %>
    								</label>
                  </div>
                </div>
              <% } %>

              <% if(termo.variante != '') { %>
                <div class = "row">
                  <div class = "form-group">
    								<div class = "col-md-3 col-md-push-1"> Var. </div>

    								<label class = "col-md-7">
                      <%= termo.variante %>
    								</label>
                  </div>
                </div>
              <% } %>

              <% if(termo.fraseologia != '') { %>
                <div class = "row">
                  <div class = "form-group">
    								<div class = "col-md-3 col-md-push-1"> Fras. </div>

    								<label class = "col-md-7">
                      <%= termo.fraseologia %>
    								</label>
                  </div>
                </div>
              <% } %>

              <% if(termo.definicao != '') { %>
                <div class = "row">
                  <div class = "form-group">
    								<div class = "col-md-push-3 col-md-7">
                      <%= termo.definicao %>
    								</div>
                  </div>
                </div>
              <% } %>

              <% if(termo.contexto != '') { %>
                <div class = "row">
                  <div class = "form-group">
    								<div class = "col-md-push-3 col-md-7">
                      <i><%= termo.contexto %></i>
    								</div>
                  </div>
                </div>
              <% } %>

              <% if(termo.nota != '') { %>
                <div class = "row">
                  <div class = "form-group">
                    <div class = "col-md-3 col-md-push-1"> Nota </div>

                    <label class = "col-md-7">
                      <%= termo.nota %>
                    </label>
                  </div>
                </div>
              <% } %>

              <% if(dataSin != '') { %>
                <div class = "row">
                  <div class = "form-group">
                    <div class = "col-md-3 col-md-push-1"> Sin. </div>

                    <label class = "col-md-7">
                      <% if(dataSin.length) for (var i = 0; i < dataSin.length - 1; i++) { %>
                        <%= dataSin[i].termoSinonimo %>;
                      <% } %>
                      <%= dataSin[dataSin.length-1].termoSinonimo %>
                    </label>
                  </div>
                </div>
              <% } %>

              <% if(dataRem != '') { %>
                <div class = "row">
                  <div class = "form-group">
                    <div class = "col-md-3 col-md-push-1"> Cf. </div>

                    <label class = "col-md-7">
                      <% if(dataRem.length) for (var i = 0; i < dataRem.length - 1; i++) { %>
                        <%= dataRem[i].termoRemissivo %>;
                      <% } %>
                      <%= dataRem[dataRem.length-1].termoRemissivo %>
                    </label>
                  </div>
                </div>
              <% } %>

              <% if(termo.equivalente != '') { %>
                <div class = "row">
                  <div class = "form-group">
                    <div class = "col-md-3 col-md-push-1"> Equiv. </div>

                    <label class = "col-md-7">
                      <i><%= termo.equivalente %></i>
                    </label>
                  </div>
                </div>
              <% } %>

            </div>

            <div class = "modal-footer">
              <a type = "reset" data-dismiss = "modal" class = "btn btn-default"> FECHAR </a>
              &nbsp;
              <a href = "/termo/edicao/<%= termo.nome %>" class = "btn btn-warning"> EDITAR </a>
              &nbsp;
              <a href = "/termo/remocao/<%= termo.nome %>" class = "btn btn-danger"> REMOVER </a>
            </div>
          <% }); %>

        </div>
      </div>
    </div>

    <div id = "cadastroTermo" class = "modal fade">
  		<div class = "modal-dialog">
  		  <div class = "modal-content">

    			<div class = "modal-header">
    			  <button type = "button" class = "close" data-dismiss = "modal" aria-hidden = "true"> &times; </button>
    			  <h3 class = "modal-title"> CADASTRO - NOVO TERMO </h3>
          </div>

          <div class = "modal-body">
						<form method = "POST" action = "/termo/cadastrar" class = "form-horizontal">

							<div class = "form-group">
								<label class = "col-md-4"> Nome </label>

								<div class = "col-md-7">
									<input value = "" type = "text" name = "nome" class = "form-control" required/>
								</div>
							</div>

              <div class = "form-group">
								<label class = "col-md-4"> Categoria </label>

								<div class = "col-md-7">
                  <select id = "s2_basic" name = "categoria" class = "form-control">
                    <% dataTodasCategorias.forEach(function(categoria) { %>
                      <option value = "<%= categoria.nome %>"> <%= categoria.nome %> </option>
                    <% }); %>
                  </select>
								</div>
              </div>

              <div class = "form-group">
								<label class = "col-md-4"> Referência Gramatical </label>

								<div class = "col-md-7">
                  <select id = "s2_basic1" name = "refGramatical" class = "form-control">
                    <optgroup label = "Referências">
                      <option value = "adj"> Adjetivo (adj) </option>
                      <option value = "sf"> Substantivo Feminino (sf) </option>
                      <option value = "sm"> Substantivo Masculino (sm) </option>
                    </optgroup>
                  </select>
								</div>
              </div>

              <div class = "form-group">
								<label class = "col-md-4"> Sigla/Acrônimo </label>

								<div class = "col-md-5">
									<input value = "" type = "text" name = "sigla" class = "form-control"/>
								</div>
              </div>

              <hr>
              <div class = "form-group">
                <label class = "col-md-4"> Variantes </label>

                <div class = "col-md-7">
                  <input type = "text" name = "variante" id = "s2_tokenization" class = "form-control" value = "">
                </div>
              </div>

              <div class = "form-group">
                <label class = "col-md-4"> Fraseologia </label>

                <div class = "col-md-7">
                  <input type = "text" name = "fraseologia" id = "s2_tokenization1" class = "form-control" value = "">
                </div>
              </div>

              <div class = "form-group">
                <label class = "col-md-4"> Definição </label>

                <div class = "col-md-7">
                  <textarea id = "as-ex-2" style = "display: none;" class = "form-control" rows = "3"></textarea>
                  <textarea id = "as-ex-2" name = "definicao" class = "form-control" rows = "3"></textarea>
                </div>
              </div>

              <div class = "form-group">
                <label class = "col-md-4"> Contexto </label>

                <div class = "col-md-7">
                  <textarea id = "as-ex-2" name = "contexto" class = "form-control" rows = "3"></textarea>
                </div>
              </div>

              <div class = "form-group">
                <label class = "col-md-4"> Nota </label>

                <div class = "col-md-7">
                  <textarea id = "as-ex-2" name = "nota" class = "form-control" rows = "3"></textarea>
                </div>
              </div>

              <div class = "form-group">
                <label class = "col-md-4"> Sinônimos </label>

                <div class = "col-md-7">
                  <select id = "s2_multi_value" name = "sinonimos" class = "form-control" multiple>
                    <% dataCategorias.forEach(function(categoria) { %>
                      <optgroup label = "<%= categoria.pertence %>">
                        <% dataTermos.forEach(function(termo) { %>
                          <% if(termo.pertence == categoria.pertence) { %>
                            <option value = "<%= termo.nome %>"> <%= termo.nome %> </option>
                          <% } %>
                        <% }); %>
                      </optgroup>
                    <% }); %>
                  </select>
                </div>
              </div>

              <div class = "form-group">
                <label class = "col-md-4"> Remissivas </label>

                <div class = "col-md-7">
                  <select id = "s2_multi_value1" name = "remissivas" class = "form-control" multiple>
                    <% dataCategorias.forEach(function(categoria) { %>
                      <optgroup label = "<%= categoria.pertence %>">
                        <% dataTermos.forEach(function(termo) { %>
                          <% if(termo.pertence == categoria.pertence) { %>
                            <option value = "<%= termo.nome %>"> <%= termo.nome %> </option>
                          <% } %>
                        <% }); %>
                      </optgroup>
                    <% }); %>
                  </select>
                </div>
              </div>

              <div class = "form-group">
								<label class = "col-md-4"> Equivalente </label>

								<div class = "col-md-7">
									<input value = "" type = "text" name = "equivalente" class = "form-control"/>
								</div>
              </div>

							<br>

              <div class = "form-group">
								<div class = "col-md-7 col-md-push-3">
									<button type = "reset" class = "btn btn-default"> RESETAR </button>
									&nbsp;
									<button type = "submit" class = "btn btn-primary"> CADASTRAR </button>
								</div>
							</div>

						</form>
          </div>
  		  </div>
  		</div>
    </div>

    <div id = "edicaoTermo" class = "modal fade">
      <div class = "modal-dialog">
  		  <div class = "modal-content">

    			<div class = "modal-header">
    			  <button type = "button" class = "close" data-dismiss = "modal" aria-hidden = "true"> &times; </button>
    			  <h3 class = "modal-title"> EDITAR TERMO </h3>
          </div>

          <div class = "modal-body">
            <% if(dataTermo.length) dataTermo.forEach(function(t) { %>
              <form method = "POST" action = "/termo/editar" class = "form-horizontal">

  							<div class = "form-group">
  								<label class = "col-md-4"> Nome </label>

  								<div class = "col-md-7">
                    <input value = "<%= t.nome %>" type = "text" name = "nomeAntigo" style = "display: none;"/>
  									<input value = "<%= t.nome %>" type = "text" name = "nome" class = "form-control" required/>
  								</div>
  							</div>

                <div class = "form-group">
  								<label class = "col-md-4"> Categoria </label>

  								<div class = "col-md-7">
                    <select id = "s2_basic2" name = "categoria" class = "form-control">
                      <% dataTodasCategorias.forEach(function(categoria) { %>
                        <% if(categoria.nome == t.pertence) { %>
                          <option value = "<%= categoria.nome %>" selected> <%= categoria.nome %> </option>
                        <% } else { %>
                          <option value = "<%= categoria.nome %>"> <%= categoria.nome %> </option>
                        <% } %>
                      <% }); %>
                    </select>
  								</div>
                </div>

                <div class = "form-group">
  								<label class = "col-md-4"> Referência Gramatical </label>

  								<div class = "col-md-7">
                    <select id = "s2_basic3" name = "refGramatical" class = "form-control">
                      <optgroup label = "Referências">
                        <% if(t.refGramatical == "adj") { %>
                          <option value = "adj"> Adjetivo (adj) </option>
                          <option value = "sf"> Substantivo Feminino (sf) </option>
                          <option value = "sm"> Substantivo Masculino (sm) </option>
                        <% } else if(t.refGramatical == "sf") { %>
                          <option value = "sf"> Substantivo Feminino (sf) </option>
                          <option value = "adj"> Adjetivo (adj) </option>
                          <option value = "sm"> Substantivo Masculino (sm) </option>
                        <% } else { %>
                          <option value = "sm"> Substantivo Masculino (sm) </option>
                          <option value = "adj"> Adjetivo (adj) </option>
                          <option value = "sf"> Substantivo Feminino (sf) </option>
                        <% } %>
                      </optgroup>
                    </select>
  								</div>
                </div>

                <div class = "form-group">
  								<label class = "col-md-4"> Sigla/Acrônimo </label>

  								<div class = "col-md-5">
  									<input value = "<%= t.sigla %>" type = "text" name = "sigla" class = "form-control"/>
  								</div>
                </div>

                <hr>
                <div class = "form-group">
                  <label class = "col-md-4"> Variantes </label>

                  <div class = "col-md-7">
                    <input type = "text" name = "variante" id = "s2_tokenization2" class = "form-control" value = "<%- (t.variante).replace('; ', ','); %>">
                  </div>
                </div>

                <div class = "form-group">
                  <label class = "col-md-4"> Fraseologia </label>

                  <div class = "col-md-7">
                    <input type = "text" name = "fraseologia" id = "s2_tokenization3" class = "form-control" value = "<%- (t.fraseologia).replace('; ', ','); %>">
                  </div>
                </div>

                <div class = "form-group">
                  <label class = "col-md-4"> Definição </label>

                  <div class = "col-md-7">
                    <textarea id = "as-ex-2" style = "display: none;" class = "form-control" rows = "3"></textarea>
                    <textarea id = "as-ex-2" name = "definicao" class = "form-control" rows = "3"><%= t.definicao %></textarea>
                  </div>
                </div>

                <div class = "form-group">
                  <label class = "col-md-4"> Contexto </label>

                  <div class = "col-md-7">
                    <textarea id = "as-ex-2" name = "contexto" class = "form-control" rows = "3"><%= t.contexto %></textarea>
                  </div>
                </div>

                <div class = "form-group">
                  <label class = "col-md-4"> Nota </label>

                  <div class = "col-md-7">
                    <textarea id = "as-ex-2" name = "nota" class = "form-control" rows = "3"><%= t.nota %></textarea>
                  </div>
                </div>

                <div class = "form-group">
                  <label class = "col-md-4"> Sinônimos </label>

                  <div class = "col-md-7">
                    <select id = "s2_multi_value2" name = "sinonimos" class = "form-control" multiple>
                      <% dataCategorias.forEach(function(categoria) { %>
                        <optgroup label = "<%= categoria.pertence %>">
                          <% dataTermos.forEach(function(termo) { %>
                            <% if(dataSin.length) dataSin.forEach(function(sin) { %>
                              <% if(termo.nome == sin.termoSinonimo && categoria.pertence == termo.pertence) { %>
                                <option value = "<%= termo.nome %>" selected> <%= termo.nome %> </option>
                              <% } %>
                            <% }); %>
                            <% if(categoria.pertence == termo.pertence && t.nome != termo.nome) { %>
                              <option value = "<%= termo.nome %>"> <%= termo.nome %> </option>
                            <% } %>
                          <% }); %>
                        </optgroup>
                      <% }); %>
                    </select>
                  </div>
                </div>

                <div class = "form-group">
                  <label class = "col-md-4"> Remissivas </label>

                  <div class = "col-md-7">
                    <select id = "s2_multi_value3" name = "remissivas" class = "form-control" multiple>
                      <% dataCategorias.forEach(function(categoria) { %>
                        <optgroup label = "<%= categoria.pertence %>">
                          <% dataTermos.forEach(function(termo) { %>
                            <% if(dataRem.length) dataRem.forEach(function(rem) { %>
                              <% if(termo.nome == rem.termoRemissivo && categoria.pertence == termo.pertence) { %>
                                <option value = "<%= termo.nome %>" selected> <%= termo.nome %> </option>
                              <% } %>
                            <% }); %>
                            <% if(categoria.pertence == termo.pertence && t.nome != termo.nome) { %>
                              <option value = "<%= termo.nome %>"> <%= termo.nome %> </option>
                            <% } %>
                          <% }); %>
                        </optgroup>
                      <% }); %>
                    </select>
                  </div>
                </div>

                <div class = "form-group">
  								<label class = "col-md-4"> Equivalente </label>

  								<div class = "col-md-7">
  									<input value = "<%= t.equivalente %>" type = "text" name = "equivalente" class = "form-control"/>
  								</div>
                </div>

  							<br>

                <div class = "form-group">
  								<div class = "col-md-7 col-md-push-3">
  									<button type = "reset" class = "btn btn-default"> RESETAR </button>
  									&nbsp;
  									<button type = "submit" class = "btn btn-primary"> EDITAR </button>
  								</div>
  							</div>

  						</form>
            <% }); %>
          </div>
  		  </div>
  		</div>
    </div>

    <div id = "remocaoTermo" class = "modal modal-styled fade">
      <div class = "modal-dialog">
        <div class = "modal-content">

          <div class = "modal-header">
            <button type = "button" class = "close" data-dismiss = "modal" aria-hidden = "true"> &times; </button>
            <h3 class = "modal-title"> REMOVER TERMO </h3>
          </div>

          <div class = "modal-body">
						<form method = "POST" action = "/termo/remover" class = "form-horizontal">
              <% if(dataTermo.length) dataTermo.forEach(function(termo) { %>
                <input name = "nome" style = "display: none" value = "<%= termo.nome %>">
              <% }); %>
              <p> Está seguro com essa ação? Está ação é definitiva! </p>
              <hr>
              <div class = "form-group">
								<div class = "col-md-7 col-md-push-3">
									<button type = "button" data-dismiss = "modal" class = "btn btn-default"> CANCELAR </button>
									&nbsp;
									<button type = "submit" class = "btn btn-primary"> REMOVER </button>
								</div>
							</div>

						</form>
          </div>

        </div>
      </div>
    </div>

    <footer class = "footer"></footer>
  </body>
</html>
